doctype html
html(lang="pt-br")
	head
		title adKeek
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
		link(rel="stylesheet", type="text/css", href="lib/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="stylesheets/style.css")

	body(ng-app="adkeekWeb")

		div(ng-view)
		
		// Dependencias do Angular
		script(type='text/javascript', src="lib/angular/angular.min.js")
		script(type='text/javascript', src="lib/angular-route/angular-route.min.js")
		
		// start
		script(type='text/javascript', src="javascripts/app.js")

		// controllers
		script(type='text/javascript', src="javascripts/controllers/UserCtrl.js")

		
		// outras /lib
		script(type='text/javascript', src="lib/angular-bootstrap/ui-bootstrap.min.js")
		script(src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js")
